<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="{{url_for('static','filename='css/styles.css')}}">
    <title>Flask App</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href ="{{url_for('index')}}"></a> home</li>
            <li><a href ="{{url_for('about')}}"></a>about</li>
            <li><a href ="{{url_for('about')}}"></a>contact</li>
        </ul>
    </nav>
    {% block body %}

    {% endblock %}
</body>
</html>